/* chat.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background-color: #16a085;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.chat-window {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #dcdcdc;
}

.chat-messages {
    list-style-type: none;
}

.chat-messages li {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 75%;
}

.my-message {
    background-color: #16a085;
    color: white;
    margin-left: auto;
}

.other-message {
    background-color: #e1e1e1;
    color: #333;
}

.chat-messages span {
    font-weight: bold;
    margin-right: 5px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #16a085;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #149174;
}
